.title-featuredprop {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 50px 0;
}

.featured-properties {
    margin: 50px 200px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 33% 33% 33%;
    column-gap: 60px;
}

article.card {
    margin: 25px 25px;
    max-width: 350px;
    background: #f8f8f8;
    border-radius: 8;
    box-shadow: 0 0 12px #d7d7d7;
}

.header-card {
    margin: 20px 8px;
}

.header-card img {
    border-radius: 8px 8px 0 0;
} 

.category-card {
    margin: 25px 0;
}

.category-card span{
    background-color: #25c4d8;   
    color: #fff;
    padding: .2rem .5rem; 
    border-radius: 4px;
}

.text-card {
    margin: 20px  0;
}

.card .footer-card {
    padding: 0 1rem;
} 

.btn-watchmore {
    margin: 10px;
    background: black;
    cursor: pointer;
    border: none;
    padding: 8px 16px;
    color: azure;
    font-size: 16px;
    font-weight: bold;    
    position: relative;
    border-radius: 12px;
}

.button-container {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.btn-wsp {
    cursor: pointer;
    height: 70px;
    width: 70px; 
}

.swiper {
    max-width: 300px;
    max-height: 300px;
    position: absolute;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  

  @media only screen and (max-width: 1396px) {
        .featured-properties {
            grid-template-columns: 50% 50%;
        }
  }

  @media only screen and (max-width: 950px) {
        .featured-properties {
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
        }

        .button-container {
            margin-right: 20px;
        }

        .btn-wsp {
            cursor: pointer;
            height: 60px;
            width: 60px; 
        }
  }

  @media only screen and (max-width: 768px) {
    .title-featuredprop {
        font-size: 1.6rem;
    }

    article.card {
        margin: 20px 20px;
        max-width: 270px;
    }

    .button-container {
        margin-right: auto;
    }
  }

  @media only screen and (max-width: 600px) { 
    article.card {
        margin: 15px 15px;
        max-width: 235px;
    }

    .category-card {
        margin: 24px 0 0 0;
        font-size: 14px;
    }
    
    .text-card {
        margin: 10px 0;
        font-size: auto;
    }
    
    .text-card p {
        font-size: .9rem;
    }

    .button-container {
        margin-right: auto;
    }
  }

  @media only screen and (max-width: 440px) {
    .title-featuredprop {
        font-size: 1.2rem;
    }

    .featured-properties {
        margin: 40px 50px;
    }

    article.card {
        margin: 12px 12px;
        max-width: 215px;
    }

    .text-card p {
        font-size: .8rem;
    }

    .btn-watchmore {
        margin: 8px;
        padding: 8px 12px;
        font-size: .9rem;
        font-weight: bold;    
    }
    
    .btn-wsp {
        cursor: pointer;
        height: 50px;
        width: 50px; 
    }

    .button-container {
        margin-right: 0px;
    }

    .btn-wsp {
        cursor: pointer;
        height: 45px;
        width: 45px; 
    }
  }