.common__section {
    background: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.492)), url("../images/shaking-hands1.png") no-repeat 0rem 80%;
    background-size: cover;
    margin-top: auto;
    padding: 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.common__section h1 {
    color: #fff;
    font-size: xx-large;
    font-weight: 700;
    font-style: oblique !important;
}

@media only screen and (max-width:768px) {
    .common__section {
        margin-top: 95px;
        padding: 80px 0px;
    }

    .common__section h1 {
        font-size: 1.5rem;
    }
}