

.table-container {
    padding: 0 10%;
    margin: 150px auto 0;
    margin-bottom: 100px;
}

.heading {
    font-size: 40px;
    text-align: center;
    color: black;
    margin-bottom: 40px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead {
    background-color: rgb(2, 2, 142);
}

.table thead tr th {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: #ffffff;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px solid #dee2e685;
}

.table tbody tr td {
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #f1f1f1;
    background-color: #3c3f44;
    padding: 8px;
    text-align: center;
    border: 1px solid #dee2e685;
}

.table tbody tr td .queries-btn {
    width: 130px;
    line-height: 35px;
    background-color: rgb(199, 0, 57);
    border-radius: 25px;
    border: 1px solid #dee2e685;
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .table thead {
        display: none;
    }  
    
    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table tbody tr td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .table td:before {
        content: attr(datatype);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
    }
}