.thead-appraisals {
    background: #0a1d37 !important;
}

.appraisals-btn {
    width: 130px;
    line-height: 35px;
    border-radius: 25px;
    border: 1px solid #dee2e685;
    opacity: 1;
    background-color:#0a1d37 !important;
}
